// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

@tailwind base;
@tailwind components;
@tailwind utilities;

.gradient-green {
  background-image: linear-gradient(to right, #48bb78 , #38a169);
}

.notifications {
  top: 0;
  right: 0;
}

.notification-wrapper {

}

.notification-title {
  @apply .text-lg;
}

.notification-content {
  @apply .text-xl;
}

.vue-notification {
  padding: 20px;
}